body {
	background:#ffffff url('../img/bg-texture.png') top left repeat;
}

#main {
	position: relative;
	width: 960px;
	margin: 0px auto;
}

header {
	margin-top: 50px;
}

h1, h2 {
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;;
	text-align: center
}

h1 {
	font-size: 80px;
	text-shadow: 1px 1px 1px #ccc;
	color:orange;
	font-weight: bolder;
}

/**
 * Extra large button extensions. Extends `.btn`.
 */
.btn-xlarge {
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }

#sb {
	font-size:40px;
}

#sb, h2 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 200;
	color: #333;
}

#main {
	position: relative;
	width: 75%;
	margin: 0px auto;
}

#sounds{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.sound {
	margin: 18px;
	width: 280px;
	height: 280px;
	flex: 280px;
	background-size: cover;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;	
}

#signed {
	background-image: url('../img/signed.png');
}

#simmons {
	background-image: url('../img/simmons.png');	
}

#dayum2 {
	background-image: url('../img/dayum.png');	
}

#standup {
	background-image: url('../img/standup.png');	
}

#push-it {
	background-image: url('../img/salt-n-pepa.png');
}	
#livebreath {
	background-image: url('../img/livebreath.png');
}	
#FuckIt {
	background-image: url('../img/doitlive.jpg');
}
#sosorry {
	background-image: url('../img/sosorry.png');
}

#doItNow {
	background-image: url('../img/doItNow.jpg');
}

#sorryDave{
	background-image: url('../img/hal.png');
}

#trombone{
	background-image: url('../img/trombone.png');
}

#finalCountdown{
	background-image: url('../img/finalCountdown.jpeg');
}

#chainGang{
	background-image: url('../img/Pretenders_album.jpg');
}
