<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body class="page-loading no-js developers-intro" id="page-developers-intro">
  <a class="skip-to-content" href="#content">skip to content</a>

  {% include menu.html %}
  <main id="content" class="main page-content" aria-label="Content">
    <article>
      {% include page_header.html %}
      <div class="wrapper py-4 mb-4 rte long-form">
        {{ content }}

        <p> <b>Contributer(s): </b>{{ page.author }}</p>
      </div>
      {% include footer.html %} 


      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
      <script src="/public/js/gsap.min.js"></script>
      <script src="/public/js/swiper-bundle.min.js"></script>
      <script src="/public/js/bundle.js"></script>
      <script src="/public/js/main.js"></script>
</body>

</html>